@model EyeBoard.Models.BoardViewModel  

@{
    ViewBag.Title = "EyeBoard";
}

<header class="container-fluid">
    <div class="row">
        @Html.Partial("_WeatherWidget", Model)
    </div>
</header>

<content class="container-fluid">
    <div class="row">
        Content informatie
    </div>
</content>

<footer class="container-fluid">
    <div class="row">
        Footer informatie
    </div>
</footer>

