<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://narrowcast.zwd.deeekhoorn.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>AP-EEK-ZWD-06</MSDeployServiceURL>
    <DeployIisAppPath>De Eekhoorn Narrowcast</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>eekzwd\B_Raymond</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="db1" Order="3" Enabled="False">
          <Destination Path="Data Source=DB-EEK-ZWD-01;Initial Catalog=EyeBoard;Persist Security Info=True;User ID=SANarrowCast;Password=SA32narrowcast" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DB-EEK-ZWD-01;Initial Catalog=EyeBoard;Persist Security Info=True;User ID=SANarrowCast;Password=SA32narrowcast" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\db1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DB-EEK-ZWD-01;initial catalog=EyeBoard;persist security info=True;user id=SANarrowCast;password=SA32narrowcast" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="db2" Order="4" Enabled="False">
          <Destination Path="Data Source=DB-EEK-ZWD-01;Initial Catalog=MAATWERK;Persist Security Info=True;User ID=SAAPI;Password=SA32api" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DB-EEK-ZWD-01;Initial Catalog=MAATWERK;Persist Security Info=True;User ID=SAAPI;Password=SA32api" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\db2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DB-EEK-ZWD-01;initial catalog=MAATWERK;persist security info=True;user id=SAAPI;password=SA32api" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="db2-Web.config Connection String">
      <ParameterValue>Data Source=DB-EEK-ZWD-01;Initial Catalog=MAATWERK;Persist Security Info=True;User ID=SAAPI;Password=SA32api</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="db1-Web.config Connection String">
      <ParameterValue>Data Source=DB-EEK-ZWD-01;Initial Catalog=EyeBoard;Persist Security Info=True;User ID=SANarrowCast;Password=SA32narrowcast</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="default-Web.config Connection String">
      <ParameterValue>Data Source=DB-EEK-ZWD-01;Initial Catalog=EyeBoard;User ID=SANarrowCast;Password=SA32narrowcast</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>