<div id="financials-widget" style="font-size: 24px; color: white;">

    <h2 class="text-right mb-3">VANDAAG GELEVERD</h2>

    <div class="row">
        <div class="col">
            # Orders<br />
            <span class="amount text-right orders"></span>
        </div>
        <div class="col">
            <span class="widget-text-right">€ Ordervalue</span><br />
            <span class="amount ordervalue widget-text-right"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            # Pakketten<br />
            <span class="amount packages"></span>
        </div>
        <div class="col">
           
        </div>
    </div>

</div>

<script>

    function updateDelivery() {
        var formatter = new Intl.NumberFormat('nl-NL', {
            minimumFractionDigits: 0,      
            maximumFractionDigits: 0,
        });

        $.get('/api/finance/picked-orders', function (data) {

            $('.orders').text(data.PickedOrdersToday);
            $('.ordervalue').text('€ ' + formatter.format(data.PickedOrdersValueToday));
            $('.packages').text(data.PickedPackagesToday.toLocaleString("nl-NL"));
        });
     }


    $(document).ready(function () {
        setInterval(updateDelivery, 5 * 60 * 1000);

        updateDelivery();
    });
</script>
