@model EyeBoard.Models.BoardViewModel

<div id="feeder" style="margin-top: 15px;">
    
</div>

<script src="~/Scripts/jquery.easy-ticker.min.js"></script>
<script>
 
    function slide(rowCount) {

        var currentTop = parseInt($("#feeds ul").css("marginTop"));

        console.log(currentTop);
        if (Math.abs(currentTop) == (rowCount - 1) * 130) {
            $("#feeds ul").css("marginTop", "130px");
        }

        $("#feeds ul").animate({
            marginTop: "-=130"
        }, 1000, function () {

        });

    }


     function refreshFeed() {

         $.removeData($('#feeds'), 'easyTicker');
         $("#feeds").remove();

        $.get("/api/feed?url=" + "@Model.FeedUrl", function (data) {

            var colCount = 2;
            var rowCount = Math.ceil(data.length / 2);
            var feeder = $('<div />').attr('id', 'feeds');
            var wrapper = $("<ul />").addClass("list-unstyled").css({ width: "100%", height: "130px", margin: "0" });
            var i = 0;
            for (row = 0; row < rowCount; row++) {

                var block = $("<li />").addClass("media").css({ height: "130px" });
                for (col = 0; col < colCount; col++) {
                    var item = $("<div />").addClass("col-6");
                    var inner = $("<div />").css("backgroundColor", "rgb(79, 134, 184)").css("padding", "15px").css("height", "130px").css("borderRadius", "10px");
                    var image = $("<img />").css("height", "100px").css("width", "100px").attr("src", data[i].ImageUrl).addClass("mr-3 float-left").css("display", "inline-block");
                    var mediaBody = $("<div />").addClass("media-body");
                    var title = $("<h3 />").css("color", "#fff").text(data[i].Title).addClass("mt-0 mb-1");
                    
                    mediaBody.append(title);

                    item.append(inner);
                    inner.append(image);
                    inner.append(mediaBody);
                    block.append(item);
                    ++i;
                }
                wrapper.append(block);
                
            }
            
            feeder.append(wrapper);
            $("#feeder").append(feeder)

            $("#feeds").easyTicker({
                interval: 10 * 1000,
                height: "130px",
                visible: 1,
                speed: "slow",
                mousePause: 0
            });
        });
    }

    $(function () {

        refreshFeed();

        setInterval(refreshFeed, 10 * 60 * 1000);
        
    });
</script>