@model EyeBoard.Models.BoardViewModel

@{
    var currentDate = DateTime.Now;
    
}

@using EyeBoard.Helpers


<div id="weather-widget" style="display: table-cell; vertical-align: middle;">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-auto">
                    <h5>@currentDate.ToLongDateString()</h5>
                    <h2 class="weather_city">Zwaagdijk</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="weather_current_temp"></div>
                    
                </div>
                <div class="col-md-6">
                    <img class="weather_image" src="" />
                </div>
                <div class="col-md-12">
                    <div class="weather_description"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/logo_eekhoorn_staand.png" width="200"/>
        </div>
    </div>
</div>

    <script>

    function refreshWeather() {
        $.get("/api/weather/" + "@Model.CityId", function (data) {
            console.log(data);
            $(".weather_image").attr("src", "//openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/" + data.Weather.weather[0].icon + ".png");
            $(".weather_current_temp").text(data.CurrentTemp + "°C");
            // $(".weather_city").text(data.City);
            $(".weather_description").text(data.Weather.weather[0].description);
            //$(".weather_pressure").text(data.Weather.main.pressure + " hPa");
            //$(".weather_humidity").text(data.Weather.main.humidity + " %");
        });
    }

    $(function () {

        setInterval(refreshWeather, 15 * 60 * 1000);
        refreshWeather();
    });
    </script>
